body{
    background-color: #fcf6f6;
    font-style: oblique;
}

h1{
    color:black
}

/* Reset básico para garantir um estilo consistente em diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Estilizando o cabeçalho e a navegação */
header {
    background-color: #ffffff;
    padding: 1rem;
}

