body{
    background-color: #fcf6f6;
    font-style: oblique;
}

h1{
    color:black
}

/* Reset básico para garantir um estilo consistente em diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Estilizando o cabeçalho e a navegação */
header {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: #ff6600;
}

/* Seção Hero (imagem ou texto de destaque) */
.hero {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
}

/* Paragráfos de conteúdo */
.content {
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
    padding: 20px;
    max-width: 1000px;
}

.p {
    background-color: rgb(224, 107, 107);
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(15, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
}

